
body {
  background-color: white;
}

.App {
  text-align: center;
}

#title {
  color: #ffe0e5;
  font-size: 70px;
  font-weight: 100;
  font-family: 'Yesteryear', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.nav-bar {
  width: 100%;
  background-repeat: no-repeat;
  background-color: #88f1c4;
  font-size: 16px;
  height: 150px;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.store-buttons {
  display: inline-block;
}

#gog-button {
  margin-right: 10px;
}

.image-item {
  width: 200px;
  height: 100px;
}

.col-sm-3 {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.game-card {
 background-color: #ffe0e5;
 width: 90%;
 border-radius: 30px;
 padding-top: 10px;
 cursor: pointer;
}

.game-list {
  /* display: inline-block; */
}

.checkbox-field {
  /* display: inline-block; */
}


